<template>
  <div class="container">
    <div class="pt-2" id="inputs">
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon1">kg</span>
        </div>
        <input type="number" v-model="weight" aria-label="Váha" aria-describedby="basic-addon1" class="form-control" />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon2">cm</span>
        </div>
        <input type="number" v-model="height" aria-label="Výška" aria-describedby="basic-addon2" class="form-control" />
      </div>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon3">BMI</span>
        </div>
        <input disabled :value="bmi" aria-label="BMI" aria-describedby="basic-addon3" class="form-control form-control-lg" :style="color(bmi)" id="bmi" />
      </div>
      <table class="table">
        <thead>
          <tr>
            <th v-for="c in changesFormatted" :key="c">
              {{ c }} kg 
            </th>
          </tr>
        </thead>
        <tbody>
            <td v-for="(c, index) in bmiChange" :key="index" :style="color(c)">
              {{ c }} 
            </td>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data: function() {
    return {
      weight: 75,
      height: 173,
      changes: [-10, -5, -2, 2, 5, 10]
    }
  },
  computed: {
    bmi: function() {
      return this.bmiCalc(this.height, this.weight)
    },
    changesFormatted: function() {
      let f = []
      for (let c of this.changes) {
        if (c > 0) {
          f.push("+" + c)
        } else {
          f.push(c)
        }
      }
      return f
    },
    bmiChange() {
      let b = []
      let $this = this
      for (let c of this.changes) {
        b.push($this.bmiCalc($this.height, parseFloat($this.weight) + c))
      }
      return b
    }
  },
  methods: {
    bmiCalc(h, w) {
      let bmi = Math.round(w / h / h * 100 * 100 * 10) / 10
      if (bmi > 99.9) {
        return 99.9
      }
      if (bmi < 10) {
        return 9.9
      }
      return bmi
    },
    color(n) {
      let limits = {
        lower: 16,
        lowerOk: 18.5,
        upperOk: 25,
        upper: 30
      }
      if ((n < limits.lower) || (n > limits.upper)) {
        let r = 160
        let g = 0
        let b = 0
        let a = 1
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      }
      if (n > limits.upperOk) {
        let r = 160
        let g = 0
        let b = 0
        let a = (n - limits.upperOk) / (limits.upper - limits.upperOk)
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      }
      if (n < limits.lowerOk) {
        let r = 160
        let g = 0
        let b = 0
        let a = (limits.lowerOk - n) / (limits.lowerOk - limits.lower)
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      } else {
        let middleOk = (limits.lowerOk + limits.upperOk) / 2
        let r = 0
        let g = 160
        let b = 0
        let a = 1 - Math.abs(n - middleOk) / (limits.upperOk - limits.lowerOk) * 2
        return "background-color:rgba(" + r + "," + g + "," + b + "," + a + ")"
      }
    }

  }
}
</script>

<style>
.container {
  margin: 0 auto;
  /* min-height: 100vh; */
  /* height: 350px; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: min(666px, 100vw);
  background-color: #fff5f5;
}

#bmi {
  font-weight: bold;
}

</style>
